body,
html {
  height: 100%;
}

body {
  display: flex;
  background-image: url('/images/bg.jpg');
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #a1d03c;
  font-family: sans-serif;
  margin: 0;
}

nav {
  background: #ff5733;
  width: 100%;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  padding: 3em;
}
